<aside id='sidebar' role='navigation' class='colorized'>
  <section class='books'>
    <header class='boxed header'>
      <h1 class='title'>
        Books
      </h1>
    </header>
    {% for slug in site.data.books %}
      <a href='http://DriscollBrookPress.com/title/{{ slug }}/'>
        <img src='http://DriscollBrookPress.com/images/{{ slug }}-cover-web.jpg' />
      </a>
    {% endfor%}
  </section>
  <section>
    <header class='boxed header'>
      <h1 class='title'>
        Recent Posts
      </h1>
    </header>
    <ul class='bullets'>
      {% for post in site.posts limit:10 %}
        <li>
          <a href='{{ post.url }}'>
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    <header class='boxed header'>
      <h1 class='title'>
        Tags
      </h1>
    </header>
    <ul class='bullets'>
      {% assign tag_pages = site.pages | where: 'tag_page', true | sort: 'title' %}
      {% for tag_page in tag_pages %}
        <li>
          <a href='{{ tag_page.url }}'>
            {{ tag_page.title }}
          </a>
        </li>
      {% endfor%}
    </ul>
  </section>
</aside>
