.navigation-bar
  %ul
    %li
      %a{href: relativize('http://dalehartleyemery.com/')} Home
    %li
      %a{href: relativize('http://dalehartleyemery.com/books/')} Books
    %li
      %a{href: relativize('http://dalehartleyemery.com/author/')} Author
    %li
      %a{href: relativize('http://dalehartleyemery.com/contact/')} Contact
