.navigation-bar
  %ul
    %li= link_to 'Home', '/index.html'
    %li= link_to 'Books', 'http://driscollbrookpress.com/books/'
    %li= link_to 'Author', '/author.html'
    %li= link_to 'Connect', '/connect.html'
