---
---

@import 'reset.css';

$gutter-width: 2rem;
$leading: 1.3;
$header-leading: 1.1;

$site-hue: 180;
$dark: hsl($site-hue, 100%, 20%);
$medium: hsl($site-hue, 20%, 60%);
$light: hsl($site-hue, 10%, 92%);
$lightest: hsl($site-hue, 5%, 98.5%);

$text-font: Arial, Helvetica, sans-serif !default;
$text-size: 100%;
$banner-heading-size: 3rem;
$page-heading-size: 2.25rem;
$heading-1-size: 1.5rem;
$heading-2-size: 1.2rem;
$heading-3-size: 1rem;

html {
    background-color: $medium;
    font-family: $text-font;
    font-size: $text-size;
    color: black;
}

body {
    margin: auto $gutter-width;
    background-color: $lightest;
    line-height: $leading;
}

body > header {
  background-color: $dark;
  text-align: center;
  h1 {
    padding: 1rem;
    font-size: $banner-heading-size;
    color: $light;
  }
}

body > article, body > section {
  padding: $gutter-width;
}

article + article {
  margin-top: $gutter-width;
  border-top: 1px solid $dark;
  padding-top: $gutter-width;
}

nav ul {
  display: inline;
  list-style-type: none;
  li { display: inline; }
  li::after { content: ' |'; }
  li:last-child::after { content: ''; }
  a { font-weight: bold; }
}

nav, footer {
  border: 1px solid $medium;
  border-left: 0;
  border-right: 0;
  background-color: $light;
  padding: .5em;
  text-align: center;
  color: $dark;
}

h1, h2 {
  line-height: $header-leading;
}

article, section {
  h1 { color: $dark; }
  a { color: $dark; }
}

article, section {
  h1 {
    font-size: $heading-1-size;
    margin-top: 1em;
  }
  header h1 {
    font-size: $page-heading-size;
    margin-top: 0;
  }
  article, section {
    h1 { font-size: $heading-2-size; }
    header h1 { font-size: $heading-1-size; }
  }
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

header a { color: inherit; }

p { margin: 1em auto; }

em, em em em {
  font-style: italic;
}

em em {
  font-style: normal;
}

ol { list-style-type: decimal; }
ul { list-style-type: disc; }

blockquote {
  border: 1px solid $medium;
  background-color: $light;
  p, em em { font-style: italic; }
  em, em em em {
    font-style: normal;
  }
}
