---
---

@import 'layout';

$leading: 1.618;
$header-leading: 1.1;
$text-font: Arial, Helvetica, sans-serif !default;
$text-size: 100%;
$banner-heading-size: 3rem;
$page-heading-size: 2.25rem;
$heading-1-size: 1.5rem;
$heading-2-size: 1.2rem;
$heading-3-size: 1rem;

$site-hue: 180;
$dark: hsl($site-hue, 100%, 20%);
$medium: hsl($site-hue, 20%, 60%);
$light: hsl($site-hue, 10%, 92%);
$lightest: hsl($site-hue, 5%, 98.5%);

html {
  background-color: $medium;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $lightest;
  line-height: $leading;
  font-family: $text-font;
  font-size: $text-size;
  color: black;
}

#banner, #footer {
  text-align: center;
}

#banner {
  h1 {
    background-color: $dark;
    font-size: $banner-heading-size;
    color: $light;
  }
}

#navbar ul {
  display: inline;
  list-style-type: none;
  li { display: inline; }
  li::after { content: ' |'; }
  li:last-child::after { content: ''; }
}

#footer, #navbar {
  border: 1px solid $medium;
  border-left: 0;
  border-right: 0;
  background-color: $light;
  font-weight: bold;
  color: $dark;
}

.post {
  header h1 { font-size: $heading-1-size; }
  h1 { font-size: $heading-2-size; }
  .body p:first-child {
    font-size: 1.2rem;
  }
  border-top: 1px solid $dark;
}

#sidebar section { border-top: 1px solid $dark; }

h1, h2, h3, h4 {
  line-height: $header-leading;
  font-size: inherit;
}

#content {
  header h1 { font-size: $page-heading-size; }
  h1 { font-size: $heading-1-size; }
  h1, a { color: $dark; }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover { text-decoration: underline; }
}


p { margin: 1em auto; }

em, em em em { font-style: italic; }
em em { font-style: normal; }

ol { list-style-type: decimal; }
ul { list-style-type: disc; }
li { display: block; }

blockquote {
  border: 1px solid $medium;
  background-color: $light;
  p, em em { font-style: italic; }
  em, em em em { font-style: normal; }
}

img { border: 0; }
