---
layout: page

---

%h1 Email
%p
  %strong
    %a{href: 'mailto:dale@dalehartleyemery.com'} dale@dalehartleyemery.com

%h1 News
%p
  %strong
    %a{href: 'http://eepurl.com/ONyOj'} Subscribe to my mailing list

%h1 Publisher
%p
  %a{href: 'http://driscollbrookpress.com'} Driscoll Brook Press
  %br
  PO Box 161924
  %br
  Sacramento CA 95816 USA
