<div role='heading' class='boxed'>
  <h2 class='title'><a href='{{ include.post.url }}'>{{ include.post.title }}</a></h2>
  <div class='post-details'>
    <time datetime='{{ include.post.date }}'>
      {{ include.post.date | date: '%B %-d, %Y' }}
    </time>
    |
    <a href='{{ include.post.url }}#disqus_thread'></a>
    |
    Tags:
    <ul class='inline tags'>
      {% for tag in include.post.tags %}<li><a href='/tag/{{ tag | slugify }}/' rel='tag'>{{ tag }}</a></li>{% endfor %}
    </ul>
  </div>
</div>
