<div role='heading' class='boxed'>
  <h2 class='title'><a href='{{ include.post.url }}'>{{ include.post.title }}</a></h2>
  <div class='post-details'>
    {{ include.post.date | date: '%B %-d, %Y' }}
<!-- Restore this when there are enough comments to make this less embarrassing.
    |
    <a href='{{ include.post.url }}#disqus_thread'></a
-->
    |
    Tags:
    <ul class='inline'>
      {% for tag in include.post.tags %}<li><a href='/tag/{{ tag | slugify }}/' rel='tag'>{{ tag }}</a></li>{% endfor %}
    </ul>
  </div>
</div>
