---
---
<html>
  <head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <title>{{ site.data.domain.title }}</title>
    <link href='/favicon.ico' rel='icon' />
    <link href='/stylesheets/screen.css' media='screen,projection' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header id='banner'>
      <h1><a href='/'>{{ site.data.domain.title }}</a></h1>
      <nav id='navbar'>
        {% include page/navigation.html %}
      </nav>
    </header>
    <aside id='sidebar'>
      <section>
        <header><h1>{{ site.data.domain.title }}</h1></header>
        <nav>
          {% include page/navigation.html %}
        </nav>
      </section>
      <section>
        <header><h1>Books</h1></header>
        <ul>
          {% for slug in site.data.books %}
          <li><a href='http://DriscollBrookPress.com/title/{{ slug }}/'><img src='http://DriscollBrookPress.com/images/{{ slug }}-cover-web.jpg' /></a></li>
          {% endfor%}
      </ul>
      </section>
      <section>
        <header><h1>Tags</h1></header>
        <ul>
          {% capture unsorted %}{% for tag in site.tags %}{{ tag[0] }}@{% endfor %}{% endcapture %}
          {% assign sortedtags = unsorted | split:'@' | sort %}
          {% for tag in sortedtags %}
          <li><a href='/tags/{{ tag | slugify }}/'>{{ tag }}</a></li>
          {% endfor%}
        </ul>
      </section>
      <section>
        <header><h1>Recent Posts</h1></header>
        <ul>
        {% for post in site.posts limit:10 %}
          <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </section>
    </aside>
    {{ content }}
    <footer id='footer'>
      {% capture copyright_date %}
      {% if page.copyright.date %}{{ page.copyright.date }}
      {% elsif page.date %}{{ page.date | date: '%Y' }}
      {% else %}{{ site.data.domain.start_date }}&ndash;{{ site.time | date: '%Y' }}
      {% endif %}
      {% endcapture %}
      <p>&copy; {{ copyright_date }} {{ site.data.domain.author.name }}</p>
    </footer>
  </body>
</html>
